body {
    font-family: Arial, sans-serif;
    background: #f4f7f9;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 100px;
}
h1 {
    color: #2c3e50;
}
.btn {
    background: #27ae60;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
    display: inline-block;
}
.form-container {
    margin: 100px auto;
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
textarea, input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}
